
/*  header */

.ih-topbar, .ih-topbar .uk-navbar-container {
	background:rgba(0,0,0,.5);
	height:157px;
}
.uk-navbar-nav>li>a {
	text-transform:none;
}
nav.navigation-divider {
	border-bottom:1px solid #808080;
}
h1,h2,h3,h4,h5 {
   font-family: 'Source Sans Pro', sans-serif;
}

.rb-content-back {
	background-color: #1E2428;
	background-size:cover;
	background-position:center center;
}
.uk-button {
	border-radius: 3px;
}
.uikitty-sitename {
	font-size: 18px;
	margin-left:-10px;
}
.uk-link, a {
	color:#1C8ACB;
}
.pad15 {
	margin:0 15px 0 15px;
}
aside .region-components h6 {
	margin-top:25px;
	padding-left:15px;
	text-transform:uppercase;
	font-weight:500;
}
aside .region-components .uk-nav {
	border-left:1px solid #eee;
}
aside .region-components .uk-nav li a {
	font-size:.9em;
	display:block;
	padding:5px 15px;
}
aside .region-components .uk-nav li a:hover {
	background:rgba(0,0,0,.03);
}
.node--type-component.node--view-mode-teaser h5 a {
	display:block;
	padding:3px 0;
}
.node--type-component.node--view-mode-teaser h5 a:hover {
	background:rgba(0,0,0,.3);
	text-decoration:none;
}
