{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'uk-card uk-text-center',
    ]
  %}
  <div class="uk-width-1-2@s uk-width-1-4@m uk-width-1-5@l uk-width-1-6@xl">
    <div{{ row.attributes.addclass(row_classes) }}>
      {{- row.content -}}
    </div>
    {% if title %}
      <h3 class="uk-card-title">{{ title }}</h3>
    {% endif %}
  </div>
{% endfor %}
