 <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-left">
       {{ page.branding }}
       {{ page.mainmenu }}
      </div>
      <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" href="#offcanvas" uk-toggle>
          <span uk-navbar-toggle-icon></span>
        </a>
      </div>
    </nav>
  </div>
